<section class="backgroud">
    <div class="container">
        <div>
            <h2 class="main-title">Bienvenido a Biofun</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique amet quis qui ratione voluptatibus,
                est exercitationem molestiae doloribus fuga magni. Deserunt, accusantium ex architecto quis aut sapiente
                libero quo natus.</p>
        </div>
        <div class="form-search">
            <input type="text" class="form-control" placeholder="Enter key...">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Location">
            <button class="button-own">Search</button>
        </div>
    </div>
</section>
